footer.food_footer{
    min-height: 400px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--footer);
    color: var(--heading);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer.food_footer h2{
    font-size: clamp(25px,2.5vw,3rem);
    position: relative;
    text-align: center;
}