*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-btn{
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container-btn button{
  width: 120px;
  padding: 10px;
  background-color: #202a46;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

.container-btn button:hover{
  cursor: pointer;
  background-color: #303e64;
}

.container-tutorial{
  margin: 0 auto;
  width: 100%;
  position: relative;
}