#stickirize .scrollable_container_copy {
  position: relative;
  width: 100%;
  min-height: 100vh;
  top: 0;
  background: rgb(46, 46, 46);
  z-index: -100;
}
#stickirize .scrollable_container {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top:0;
  background: rgb(46, 46, 46);
}

#stickirize .scrollable {
  position: relative;
  top: 0;
  min-height: 100vh;
  background: #333446;
  border: 1px solid #ffffff;
}

#stickirize div#item_center,
#stickirize div#item_back,
#stickirize div#item_front {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stickirize div#item_center {
  top: 100vh;
  z-index: 2;
}
#stickirize div#item_front {
  top: 180vh;
  z-index: 3;
}
#stickirize div#item_back {
  top: 140vh;
  z-index: 1;
}

#stickirize div#item_center img {
  width: 130px;
  position: relative;
}
#stickirize div#item_back img {
  width: 300px;
  top: -20px;
  opacity: 0.85;
  position: relative;
}
#stickirize div#item_front img {
  width: 130px;
  top: 60px;
  opacity: 0.85;
  position: relative;
}

/********************************/
